# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# AWS
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=

# S3
# Presigned URL 만료 시간 (초)
S3_PRESIGNED_URL_EXPIRATION=

# 도메인별로 버킷이 있음
# S3_BUCKET_{DOMAIN}
S3_BUCKET_EVENT=
S3_BUCKET_SESSION=